<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @await Html.PartialAsync("_Favicons")
    <title>SharpLibrary</title>
    <link href="~/css/bundle.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/bundle.min.js"></script>
</body>
</html>
