@model ListViewModel<Role>

@{
    ViewBag.Title = "Роли";
}

<div class="container-fluid">
    <div class="m-3">
        <a asp-area="Admin" asp-controller="Role" asp-action="Create" class="btn btn-primary">Добавить роль</a>
    </div>
    <div page-model=@Model.PagingInfo page-action="Index" page-classes-enabled="true"
         page-class="btn m-1" page-class-normal="btn-outline-secondary" page-class-selected="btn-outline-primary"
         class="btn-group ml-3"></div>
    <div class="card-group">
        @foreach (var element in Model.Entities)
        {
            @await Html.PartialAsync("AdminRole", element)
        }
    </div>
</div>
